# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# ignore .o files
*.o

# ignore .dat files
*.dat

# ignore restore.txt files
*restored.txt

# ignore these files
big.txt
huge.txt
emojis2.txt
infoc.txt
pg*.txt

# ignore html
*.html

# ignore png
javasciptbad.png

# ignore the junk folder
junk/

#ignore graphviz file
*.gv
