# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# ignore .o files
*.o

# ignore .dat files
*.dat

# ignore restore.txt files
*restored.txt

# ignore huge file
huge.txt

# ignore chinese file

# ignore the junk folder
junk/
